.addEntryForm{
    position: absolute;
    top:5px;
    right:5px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    z-index: 900;
    padding: 5px 20px;
    border-radius: 10%;
    animation:fadeIn ease 0.5s;
    width:150px;
}

.form-group{
    display:flex;
    width:100px;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.addEntryForm input{
    display:block;
    width:auto;
    border-radius: 5px;
    margin: 0px;
    padding:7px 10px;
}

.addEntryForm input:focus{
}

.addEntryForm .submit{
    margin-top: 10px;
    background-color: rgb(50, 212, 50);
    border-radius: 10%;
    width:75px;
    height:45px;
}

.addEntryForm .submit:hover{
    box-shadow: 0 0 5px black;
    color:white;
    background-color: rgb(38, 136, 38);
}   

.addEntryForm label{
    display: inline;
}

