*{
    box-sizing: border-box;
}

.container{
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 400px;
    max-height: 75%;
    position: absolute;
    top:5px;
    right:10px;
    z-index: 999;
    padding:10px 50px;
    animation: fadeIn 1s ease-in;
    overflow: auto;
}

@media (max-width:500px ){
    .container{
        width:200px;
        padding: 5px;
    }
}
@keyframes fadeIn{
    0%{opacity: 0;}
   100%{opacity: 1;}
}

.container h2{
    text-align: center;
    margin:0
}

.container small:first-of-type{
    color:rgb(204, 19, 19);
    display: block;
    margin:0 0 10px 0;
}

.container sup{
    color:rgb(170, 0, 0);
}

.formControl{
    margin-bottom:1vh;
    padding-bottom: 1vh;
    position:relative;
}

.formControl label{
    color:black;
    display:block;
}

.button{
    cursor:pointer;
    background-color:#3458db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color:#fff;
    display:block;
    font-size:16px;
    padding:10px;
    margin-top:20px;
    width:100%;
}

.formControl input{
    text-align: center;
    border:none;
    border-bottom: 1px solid #ccc;
    display:block;
    width:100%;
    padding:10px;
    font-size:14px;
    transition: border 0.5s ease, width 1s ease-in-out;
}

.formControl input#DISTRICT{
    background: rgb(180, 180, 180);
}

.formControl input:focus{
    outline: 0;
    border-bottom: 3px solid #777;
}

.formControl textarea{
    padding:10px;
    width:100%;
}