.HospitalInfo .leaflet-popup-content-wrapper {
    background-color: black;
    color:white;
}

.HospitalInfo .leaflet-popup-content {
    background-color: black;
}

.HospitalInfo .leaflet-popup-tip{
    background-color: black;
}