.initialInfo{
    position: absolute;
    top:1vh;
    left:25px;
    background-color: rgb(206, 206, 206);
    color:black;
    box-shadow: 0 0 10px black;
    width:60%;
    z-index:999;
    transition: opacity 1s ease;
    padding:0px 10px;
}

.initialInfo * {
    margin:0;
}

@media (max-width:500px){
    .initialInfo{
        width:75%;
    }
}

.initialInfo.close{
    opacity: 0;
}

.initialInfo.closeComplete{
    display:none;
}

.initialInfo button{
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.initialInfo button:hover{
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

/*  */
/* @keyframes fadeOut{ */
    /* 0%{ */
        /* opacity: 1; */
    /* } */
    /* 100%{ */
        /* opacity: 0; */
        /* display: none; */
    /* } */
/* } */