.container{
    background-color: white;
    width:100%;
    padding:1px;
    border:2px solid black;
    border-radius: 20px;
    animation: enter 0.3s ease-in;
    margin: 10px 0;
}

@keyframes enter{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.CheckboxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 30px;
}

.InfoContainer{
    position: relative;
    padding:0;
    color: black;
}

.close{
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    top:-15px;
    right:15px;
    cursor: pointer;
}

.InfoContainer *{
    margin:0;
    padding:0;
    text-align: left;
}

.InfoContainer h2{
    text-align: center;
    margin: 20px 0;
    margin-bottom: 0;
}

.InfoContainer p{
    margin:5px 20px;
}

.NepalContainer{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    background-color: white;
    border-radius: 20px;
    padding:10px 0
}

.NepalContainer * {
    padding:0;
    margin:0;
}

.NepalContainer > div{
    padding:10px;
    box-sizing: border-box;
    width:auto;
    margin:auto;
    background-color: #DEC5E3;
    color:black;
    border-radius: 2vh;
    margin: 10px 5px;
    margin-left: 20px;
}

.NepalContainer > div p{
    font-size: small;
    font-weight: bold;
    color:#5e6572
}